[Unit]
Description=Flask Application
After=network.target

[Service]
User=stasyan
WorkingDirectory=/home/stasyan/PycharmProjects/PG/theGP/app/src
ExecStart=/home/stasyan/PycharmProjects/PG/.venv/bin/python3 /home/stasyan/PycharmProjects/PG/theGP/app/src/app.py
Restart=always
Environment="PATH=/home/stasyan/PycharmProjects/PG/.venv/bin"

[Install]
WantedBy=multi-user.target
