[Unit]
Description=Flask Application on Port {{ app_port }}
After=network.target
StartLimitIntervalSec=0

[Service]
User=jenkins
Group=jenkins
WorkingDirectory=/opt/flask-app/app
ExecStart=/opt/flask-app/venv/bin/python /opt/flask-app/app/app.py
Environment="PORT=6060"
Restart=always

[Install]
WantedBy=multi-user.target