[Unit]
Description=Flask Application on Port {{ app_port }}
After=network.target
StartLimitIntervalSec=0

[Service]
User=root
Group=root
WorkingDirectory=/opt/flask-app
Environment="PATH=/opt/flask-app/venv/bin"
ExecStart=/opt/flask-app/venv/bin/python /opt/flask-app/app.py --port {{ app_port }}

[Install]
WantedBy=multi-user.target