jenkins:
  systemMessage: "Jenkins Configured by Ansible"
  securityRealm:
    local:
      allowsSignup: false
      users:
      - id: "admin"
        password: "{{ jenkins_admin_password }}"

  authorizationStrategy:
    loggedInUsersCanDoAnything:
      allowAnonymousRead: false

  numExecutors: 2
  mode: NORMAL

  crumbIssuer: "standard"

  disableRememberMe: false

unclassified:
  location:
    url: http://localhost:8080/

jobs:
  - script: >
      pipelineJob('flask') {
        definition {
          cpsScm {
            scm {
              git {
                remote {
                  url 'https://github.com/nuclear77/theGP.git'
                }
                branch '*/main'
                extensions {
                  cleanBeforeCheckout()
                }
              }
            }
            scriptPath("project/jenkins/Jenkinsfile")
          }
        }
        triggers {
          scm('* * * * *')
        }
      }
