[Unit]
Description=Gunicorn Service
After=network.target

[Service]
User={{ service_user }}
WorkingDirectory={{ app_path }}
Environment="PATH={{ venv_path }}/bin"
ExecStart={{ venv_path }}/bin/gunicorn --bind 0.0.0.0:{{ app_port }} app:app

[Install]
WantedBy=multi-user.target